
        header {
            background-color: #003058;
            color: #FFFFFF;
            font-family: Georgia;
            row-gap: (1,2);
            grid-column: (2, -2);
        }

        header h1 {
            line-height: 140%;
            padding: .5rem;
            margin:0;
        }
        header a {
            font: #ffffff;
        }
        body {
            background-color: #ffffff;
           color: #666666;
           font-family: verdana, Arial, Helvetica, sans-serif;
           margin: 0px;
        }
    
        nav {
            color: #f3f3f3;
            font-weight: bold;
            grid-row: (2, 3);
            grid-column: (2,-2);
            background-color: 424242;
            position:sticky;
            top:0;
        }
        nav ul {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-flow: row nowrap;
            list-style-type: none;
        }
        nav ul li {
            width: 100%;
        }
        nav a {
            color: #FFFFFF;
            padding:1rem 0rem;
            display:block;
            text-align: center;
        }
        h2 {
            color: #424242;
            font-family: Georgia;
        }
 
        dt {
            color: #003058;
            font-weight: bold;
        }

        .ut {
            color: #BA1C21;
            font-weight: bold;
        }
       footer {
            padding: .70rem;
            font-weight: italic;
            text-align: center;
            grid-row: (5,6);
            grid-column: 2 to 8;
        }

        #wrapper {
            display: grid;
            grid-auto-rows: max-content;
            grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0,175)) minmax(0px, 1fr);
            
        }
        img {
            width: 300px;
        }
        #studenthero {
            height: 300px;
            background-image: url("utahtechimages/studenthero.jpg");
            background-size:cover;
            background-position: center;
            grid-row: (3,4);
            grid-column: (2,-2);
        }
          #facultyhero {
            height: 300px;
            background-image: url("utahtechimages/facultyhero.jpg");
            background-size:cover;
            background-position: center;
            grid-row: (3,4);
            grid-column: (2,-2);
        }
                #homehero {
            height: 300px;
            background-image: url("utahtechimages/homehero.jpg");
            background-size:cover;
            background-position: center;
            grid-row: (3,4);
            grid-column: (2,-2);
        }
        * {
            box-sizing:border-box ;
        }
        main {
            grid-row: (4,5);
            grid-column: (2,-2);
        }
        main img {
            padding: 2rem ;
        }