
        header {
            background-color: #003058;
            color: #FFFFFF;
            font-family: Georgia;
        }

        header h1 {
            line-height: 140%;
            padding: .5rem;
        }
        body {
            background-color: #ffffff;
           color: #666666;
           font-family: verdana, Arial, Helvetica, sans-serif;
        }
    
        nav {
            color: #f3f3f3;
            font-weight: bold;
        }

        h2 {
            color: #424242;
            font-family: Georgia;
        }
 
        dt {
            color: #003058;
            font-weight: bold;
        }

        .ut {
            color: #BA1C21;
            font-weight: bold;
        }
       footer {
            padding: .70rem;
            font-weight: italic;
            text-align: center;
        }

        #wrapper {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
        img {
            width: 300px;
        }
        #studenthero {
            height: 300px;
            background-image: url("utahtechimages/studenthero.jpg");
            background-size:cover;
            background-position: center;
        }
          #facultyhero {
            height: 300px;
            background-image: url("utahtechimages/facultyhero.jpg");
            background-size:cover;
            background-position: center;
        }
                #homehero {
            height: 300px;
            background-image: url("utahtechimages/homehero.jpg");
            background-size:cover;
            background-position: center;
        }